
<div class="bg-grad d-flex h-100">
  <div class="align-self-center mx-auto">
    <h1 class="text-center mb-4">
      <img src="/static/svg/logo.svg" routerLink="/" alt="Nakama Logo" width="175">
    </h1>
    <div class="alert alert-warning" role="alert" *ngIf="error">
      {{error}}
    </div>
    <div class="alert alert-info" role="alert" *ngIf="updated">
      {{updated}}
    </div>
    <div class="card">
      <div class="card-body">
        <h3 class="text-center">Password Reset</h3>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" [ngClass]="{'was-validated': submitted}">
          <div class="form-group form-row">
            <div class="col-sm-12">
              <label for="new-password">New Password</label>
              <input type="password" id="new-password" class="form-control" formControlName="newPassword" required autofocus autocomplete="on"
                     [ngClass]="{'is-invalid': f.newPassword.dirty && f.newPassword.errors}" />
              <div class="invalid-tooltip" [hidden]="f.newPassword.disabled || f.newPassword.valid || f.newPassword.pristine">Password must be at least 8 characters.</div>
            </div>
          </div>
          <div class="form-group form-row">
            <div class="col-sm-12">
              <label for="confirm-password">Confirm Password</label>
              <input type="password" id="confirm-password" class="form-control" formControlName="confirmPassword" required
                     [ngClass]="{'is-invalid': f.confirmPassword.dirty && f.confirmPassword.errors}" />
              <div class="invalid-tooltip" [hidden]="f.confirmPassword.disabled || f.confirmPassword.valid || f.confirmPassword.pristine">Password must be at least 8 characters.</div>
            </div>
          </div>
          <button class="btn btn-primary btn-lg btn-block" [disabled]="!resetForm.valid || submitted">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>