
<div class="bg-grad d-flex h-100">
  <div class="align-self-center mx-auto">
    <h1 class="text-center mb-4">
      <img src="/static/svg/logo.svg" routerLink="/" alt="Nakama Logo" width="175">
    </h1>
    <div class="alert alert-warning" role="alert" *ngIf="error">
      {{error}}
    </div>
    <div class="alert alert-info" role="alert" *ngIf="updated">
      {{updated}}
    </div>
    <div class="card" *ngIf="!token">
      <div class="card-body">
        <h3 class="text-center">Send Email Verification</h3>
        <form [formGroup]="emailForm" (ngSubmit)="onSubmit()" [ngClass]="{'was-validated': submitted}">
          <div class="form-group form-row">
            <div class="col-sm-12">
              <label for="email">Email</label>
              <input type="text" id="email" class="form-control" formControlName="email" required autofocus autocomplete="on"
                     [ngClass]="{'is-invalid': f.email.dirty && f.email.errors}" />
              <div class="invalid-tooltip" [hidden]="f.email.disabled || f.email.valid || f.email.pristine">Require valid email format.</div>
            </div>
          </div>
          <button class="btn btn-primary btn-lg btn-block" [disabled]="!emailForm.valid || submitted">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>